<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipe2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foodicon_icon_round"
        android:label="Amuse Bouche"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashScreen.splashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AreaWise.Disp_AreaMeals"
            android:label="@string/title_activity_disp__area_meals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.TempName"
            android:label="@string/title_activity_temp_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Recipe"
            android:label="@string/title_activity_recipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.home.CategoryFoodList" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>